.board {
  background-color: "red";
  opacity: 0.7;
  height: 112px;
  border: solid 1px #ccc;
  text-align: center;
  width: 112px;
  display: inline-block;
  font-size: 14px;
}

.board-wrap {
  position: absolute;
  font-size: 0;
  margin: 78px;
  width: 1124px;
  top: 0;
  left: 0;
}

.board-image {
  background-image: url("../images/board.jpg");
  background-repeat: no-repeat;
  height: 1279px;
  width: 1368px;
  display: inline-block;
  position: absolute;
  top: 50;
  left:0;
}

.board-parent {
  width: 1270px;
  height: 1279px;
  position: relative;
}

.flex-parent {
    display: flex;
    align-items: center;
}
