.player-1 {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  border-radius: 20px;
  background-color:  red;
  border: 1px solid red;
}

.player-2 {
  height: 30px;
  width: 30px;
  margin: 0 20px;
  border-radius: 20px;
  background-color: blue;
  border: 1px solid blue;
}
