div.Nav ul {
  list-style-type:  none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}



div.Nav li{
  float: right;
}

div.Nav li a {
  display: block;
  padding: 10px;
  background-color: #dddddd;
}


.active {
  color: green;
}
